body{
    background-image: url(img/atronomia.jpg);
    background-size: 100%;
}


.nav{
   
    background-color: rgba(167, 177, 186, 0.676);
    display: flex;
    justify-content: right;
    padding: 2%;
    
}
.letraT{
    color: beige;
}
.nav ul li {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);

}
.nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.centro{
    position: absolute;
    text-align: center;
    top: 35%;
    color: beige;
    padding: 4%;
    
}

.esquina{
    position: absolute;
    top: 3%;
    left: 2%;
    
}
@media (max-width:690px) {
    .nav ul li {
        display: inline-block;
        flex-direction: column;
        text-align: center;
        margin-top: 18px;
    }
    .esquina{
        left: 0;
        right: 0;
        margin: auto;
        text-align: right;
        top: 0;
        display: flex;
        justify-content: center;
        justify-items: center;

    }
    .nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nav{
        display: block;
    }
    .centro{
        margin: 8%;
    }
}
